.content {
	display: flex;
	flex-direction: column;
	height: 622px;
}
.person-info{
	height:160px;
	background-color: #999999;
	padding: 0px 15px 40px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #FFFFFF;
}
.info-name-setting{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.info-name{
	display: flex;
	flex-direction: row;
}
.info-img{
	height:50px;
	width:50px;
	border-radius: 50%;
	margin-right:10px;
}
.info-name-name{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.info-name-text{
	font-size: 26px;
}
.info-name-lv{
	font-size: 16px;
}
.info-setting{
	display: flex;
	flex-direction: row;
}
.setting-icon{
	margin-right: 10px;
}
.setting-img{
	height:26px;
	width: 26px;
}
.info-list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.info-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-item-image{
	border-radius: 50%;
	width:30px;
	height:30px;
}
.info-item-text{
	font-size:16px;
}
.person-list{
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top:-20px;
	background: #FFFFFF;
	border-radius:20px 20px 0 0;
	padding: 20px;
}
.person-one-list{
	height:100px;
	display: flex;
	flex-direction: column;
}
.person-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;}
.list-item-item{
	margin:10px 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.flag-text{
	display: flex;
	align-items: center;
}
.person-flag{
	width:20px;
	height: 20px;
	margin-right: 15px;
}
.line{
	height:1px;
	width: 100%;
	background-color: #eee;
	margin:10px 0;
}
